form {
    display: flex;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #484646;
}

.education, .practicalExperience {
    flex-direction: column;
}

