.view {
    display: flex;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #484646;
}
.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.info > div {
    background-color: #242424;
    border-radius: 10px;
    padding: 5px;
}